<!-- <div class="alert alert-primary" role="alert">
  You can invite players to this pool using the following link
  <a class="alert-link">localhost:4200/pool/join/{{ pool_id }}</a
  >.
</div> -->

<div class="table-responsive-sm">
  <h5>
    Portfolio
    <small class="text-muted"
      >- {{ totalPortfolioValue | currency: "EUR" }}</small
    >
  </h5>
  <table class="table borderless">
    <thead>
      <tr>
        <th class="col-1">#</th>
        <th class="col-2">Asset</th>
        <th class="col-2">Amount</th>
        <th class="col-1">Value</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody *ngFor="let asset of assets">
      <!-- only show assets we have own atleast €1 of -->
      <tr *ngIf="asset.amount > 1">
        <td>{{ asset.id + 1 }}</td>
        <td>
          {{ asset.name }}
        </td>
        <td>{{ asset.native_amount | number: "1.0-8" }} {{ asset.ticker }}</td>
        <td>
          {{ asset.amount | currency: "EUR" }}
        </td>
        <td class="right">
          <button
            routerLink="/pool/{{ pool_id }}/currency/{{
              asset.name.toLowerCase()
            }}"
            type="button"
            class="btn btn-outline-primary btn-sm"
          >
            Trade
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive-sm mt-3">
  <h5>
    Leaderboard <small class="text-muted">- #{{ leaderboardPosition }}</small>
  </h5>
  <table class="table borderless mb-0">
    <thead>
      <tr>
        <th class="col-1">#</th>
        <th class="col-2">Username</th>
        <th class="col-2">Assets</th>
        <th class="col-1">Balance</th>
        <th class="col-1" style="text-align: right">Total</th>
      </tr>
    </thead>
    <tbody *ngFor="let row of leaderboard">
      <tr>
        <td>{{ row.position }}</td>
        <td>{{ row.username }}</td>
        <td>
          {{ row.assets | currency: "EUR" }}
        </td>
        <td>
          {{ row.balance | currency: "EUR" }}
        </td>
        <td class="right">
          {{ row.total | currency: "EUR" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
