<!-- <div class="alert alert-secondary" role="alert">
  You can invite users to this pool via this link <strong>localhost:4200/pool/join/1</strong>
</div> -->

<div class="p-3">
  <div class="table-responsive-sm">
    <h5>
      Portfolio
    </h5>
    <table class="table borderless">
      <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-2">Asset</th>
          <th class="col-2">Amount</th>
          <th class="col-2">Profit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            1
          </td>
          <td>
            Bitcoin
          </td>
          <td>
            0.3817271 BTC
          </td>
          <td>
            {{ 231.32 | currency: 'EUR'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-responsive-sm mt-3">
    <h5>
      Leaderboard
    </h5>
    <table class="table borderless">
      <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-2">Username</th>
          <th class="col-2">Value</th>
          <th class="col-2">Profit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            1
          </td>
          <td>
            SampleUser
          </td>
          <td>
            {{ 53872.32 | currency: 'EUR'}}
          </td>
          <td>
            {{ 9872.32 | currency: 'EUR'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>