<div class="row">
  <div class="d-none d-md-block col-md-7 col-lg-8">
    <div class="card">
      <div class="card-body py-5"><h1 class="mb-3">Register</h1>
        <p>
          More about Angular?
          <a href="https://nuxtjs.org" class="btn btn-link p-0">angular.io</a>
        </p>
        <p>
          Ut massa tellus, fringilla non pharetra nec, egestas in mauris. Nam et nisl iaculis,
          rhoncus nisl iaculis, luctus lorem. Phasellus egestas libero in augue sollicitudin, non mattis
          magna convallis. Nulla est sem, suscipit non aliquet at, varius eget elit. Fusce placerat gravida
          neque accumsan finibus. Aliquam blandit ornare volutpat. Cras et rutrum mauris. Class aptent
          taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.'
        </p>
        <p>
          Donec egestas convallis gravida. Ut at quam aliquam, consequat urna et, viverra quam.
          Maecenas eu dolor vitae lectus varius semper. Sed hendrerit eget nulla eget suscipit. Etiam nec
          maximus ligula, vel pretium urna. Cras in felis convallis tellus efficitur sagittis. Orci varius
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-lg-4">
    <div class="card card-behind">
      <div class="card-body py-5">
        <p class="h1 text-dark text-center pb-2 d-md-none">
          Register
        </p>

        <form>
          <div class="mb-3"><div class="form-label-group floating-label-group mb-3">
            <input id="username" [(ngModel)]="user.username" name="username" type="text" placeholder="Username" autofocus="autofocus" required="required" class="form-control">
            <label for="username">Username</label>
          </div>
            <div class="mb-3 invalid-feedback">

            </div>
          </div>

          <div class="mb-3">
            <div class="form-label-group floating-label-group mb-3">
              <input id="email" [(ngModel)]="user.email" name="email" type="email" placeholder="E-mail Address" autofocus="autofocus" class="form-control">
              <label for="email">E-mail Address</label>
            </div>
            <div class="mb-3 invalid-feedback">
            </div>

          </div>
          <div class="mb-3">
            <div class="form-label-group floating-label-group mb-3">
              <input id="password" [(ngModel)]="user.password" name="password" type="password" placeholder="Wachtwoord" autofocus="autofocus" class="form-control">
              <label for="password">Wachtwoord</label>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn px-5 border-0 btn-primary rounded-pill" (click)="register()">
              Register
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <p class="mb-0 text-center">
          Already have an account?
          <a href="/login" class="btn btn-link p-0 font-weight-bold mb-1">
            Log in
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
