.list-group-sidebar.list-group {
  background-color: $list-group-sidebar-bg;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

  .list-group-item {
    font-size: 16px;
    background-color: transparent;
    border: none;

    &.active {
      color: $primary; //$list-group-active-color
      border-color: $list-group-border-color;
      border-right: .25rem solid $primary !important;
      background-color: $list-group-sidebar-active-bg;
    }
  }
}
