<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Currency</th>
        <th scope="col">Price</th>
        <th scope="col">24h change</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let currency of getCurrencies()" class="table-row">
        <td>
          {{ currency.id }}
        </td>

        <td class="text-center">
          <img [ngClass]="currency.change <= 0 ? 'red' : 'green'" class="graph" src="{{ currency.graph }}" />
        </td>

        <td>
          <img class="icon" src="{{ currency.icon }}" />
          {{ currency.name }}

          <div class="tag">
            {{ currency.ticker }}
          </div>
        </td>

        <td>{{ currency.price | currency: "EUR" }}</td>
        <td [ngClass]="currency.change <= 0 ? 'red' : 'green'">
          <div class='price-change'>
            {{ currency.change > 0 ? '+' : null }}{{ currency.relative_change | percent }}
          </div>
          <div class="tag" [ngClass]="currency.change <= 0 ? 'red' : 'green'">
            {{ currency.change > 0 ? '+' : null }}{{ currency.change | currency: "EUR" }}
          </div>
        </td>
        <td class="right">
          <button type="button" class="btn btn-outline-primary btn-sm"
            (click)="currencyClicked(currency.name)">Trade</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>