<nav class="navbar mb-2 navbar-dark navbar-expand" [class]="innerClass">
  <div class="container">
    <a href="/" class="navbar-brand p-0">
      <img src="assets/img/angular_logo_text.png" alt="Angular logo" height="50" class="pr-2">
<!--      <img data-v-05318b22="" src="/typo-white.png" alt="Image Logo" height="20" class="mt-3 mb-2">-->
    </a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="#" target="_self" class="nav-link">
        </a>
      </li>
    </ul>
  </div>
</nav>
