<form [formGroup]="createPoolForm" (ngSubmit)="submitForm()">
  <h3>
    Create Pool
  </h3>
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input class="form-control" formControlName="name">
    <div class="form-text">Name of the pool.</div>
  </div>

  <div class="mb-3">
    <label class="form-label">Budget</label>
    <!-- <span class="input-group-text">$</span> -->
    <input type="number" class="form-control" formControlName="budget">
    <div class="form-text">Amount of funds each participant will receive.</div>
  </div>

  <div class="mb-3">
    <label class="form-label">End Date</label>
    <input type="date" class="form-control" formControlName="end_date">
    <div class="form-text">Date at which the pool will end and a winner will
      be drawn.</div>
  </div>

  <button type="submit" class="btn btn-primary">Create</button>
</form>