/* You can add global styles to this file, and also import other style files */

//@import '~bootstrap/dist/css/bootstrap.min.css';

@import 'styles/functions';
@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/imports';    // All default imports
@import 'styles/utilities';  // Utilities last

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.tag {
  &.green {
    background: #159e4a3f;
  }

  &.red {
    background: #a00e3a3f;
  }

  background: rgba(0,0,0,0.06);
  display: inline-block;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 6px;
  margin: 0px 4px;
}

.green {
  color: #0ea046;
}

.red {
  color: #a00e3a;
}

table {
  background-color: white;
  border-collapse: collapse;
  border-radius: 6px;
  border-style: hidden; 
  box-shadow: 0 0 0 1px #ECECEC; 

  &.borderless {
    box-shadow: none;
  }

  .icon {
    height: 24px;
    width: auto;
    margin-right: 6px;
  }
  
  td, th {
    vertical-align: middle;
    padding: 16px;
  }
  
  th {
    border-color: inherit !important;
    color: #919191;
    font-weight: normal;
    font-size: 14px;
  }

  td {
    &.right {
      text-align: right;
    }

    .price-change {
      display: inline-block;
      min-width: 50px;
    }
  }
}

.spinner-big {
  width: 4rem;
  height: 4rem;
  margin: 4rem;
}

.green {
  color: #0ea046;
}

.red {
  color: #a00e3a;
}

.tag {
  &.green {
    background: #159e4a3f;
  }

  &.red {
    background: #a00e3a3f;
  }

  background: rgba(0,0,0,0.06);
  display: inline-block;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 6px;
  margin: 0px 4px;
}

.graph {
  &.green {
    filter: hue-rotate(85deg) saturate(80%) brightness(0.85);
  }

  &.red {
    filter: hue-rotate(300deg) saturate(210%) brightness(0.7) contrast(170%);
  }
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: inherit !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background: #092A4C;
}