<div class="pool-cards">
  <div
    *ngFor="let pool of pools"
    class="card pool-card border"
    routerLink="/pool/{{ pool._id }}/dashboard"
  >
    <div class="card-body">
      <h5 class="card-title">{{ pool.name }}</h5>
      <p class="card-text">{{ pool.budget | currency: "EUR" }}</p>
    </div>
    <div class="card-footer text-muted" *ngIf="pool.ends_in_days != 0">
      Ends in {{ pool.ends_in_days }} days
    </div>
    <div class="card-footer text-muted" *ngIf="pool.ends_in_days == 0">
      Ends today
    </div>
  </div>

  <div class="card pool-card create-pool border" routerLink="/pool/create">
    Create Pool
  </div>
</div>
